<html>
<head><title>Home Page</title></head>
<body>
<h1>Cześć</h1>
<p>Dzisiaj jest dobry dzień na formatowanie danych od klienta ;)</p>
<form method="post" enctype="multipart/form-data">
    <div>
        <label for="namesFile">Wybierz plik</label>
        <input type="file" id="namesFile" name="namesFile" accept=".txt">
    </div>
    <div>
        <label for="directoryName">Wybierz miejsce zapisu</label>
        <input type="text" id="directoryName" name="directoryName">
    </div>
    <div>
        <button>Zatwierdź</button>
    </div>
</form>
</html>